<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./fontawesome-free-5.12.0-web/css/all.css">
    <link rel="stylesheet" href="index.css">
    <title>Piskel clone</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="row no-gutters" id="app">
        <div class="tools-container col-1 d-flex justify-content-center align-items-center flex-column">
            <div class="pen-sizes-container d-flex mb-2">
                <div class="pen-size px" v-for="penSize in penSizes" :class="penSize.style" v-on:click="selectPenSize(penSize.size)"></div>
            </div><span class="1px"></span>
            <div id="tools">
                <div class="tool" v-for="tool in tools" v-bind:class="{active: currentTool === tool}" v-on:click="selectTool(tool)" :title="tool.key">
                    <i v-bind:class="tool.icon"></i>
                </div>
                <input type="color" class="color" id="primaryInput"  v-model="primaryColor">
                <input type="color" class="color" id="secondaryInput" v-model="secondaryColor">
            </div>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center flex-column" id="frames">
            <div class="frame" v-for="(frame, index) in frames" v-bind:key="frame.id">
                <canvas width="128" height="128" v-on:click="selectFrame(index)"></canvas>
                <button type="button" class="button delete" v-on:click="deleteFrame(index)" title="Delete current frame (delete)"><i class="icon fas fa-trash-alt"></i></button>
                <button type="button" class="button copy" v-on:click="copyFrame(index)" title="Copy current frame (shift + n)"><i class="icon far fa-copy"></i></button>
            </div>
            <button type="button" class="btn btn-dark mt-2" v-on:click="addNewFrame" title="Add new frame (n)">Add new frame</button>
        </div>
        <div class="col-7 d-flex flex-column align-items-center justify-content-center" id="canvasContainer">
            <div class="d-flex scaleContainer">
                <div class="scale" v-for="scale in scales" v-bind:class="{active: currentScale === scale}" v-on:click="selectScale(scale)">
                    {{scale.size}}
                </div>
            </div>
            <canvas id="canvas" width="512" height="512" v-on:mousedown="onMouseDown" v-on:mousemove="onMouseMove" 
                v-on:mouseup="onMouseUp" v-on:mouseout="onMouseUp" v-on:contextmenu="cancelContextMenu"></canvas>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center flex-column" id="preview">
            <canvas id="animation" width="128" height="128"></canvas>
            <span>{{fps}} fps</span>
            <input type="range" min="1" max="24" class="fpsRange" v-model="fps">
            <button class="btn btn-dark mt-3" v-on:click="save" title="Save gif (ctrl + s)">Save</button>
            <button class="btn btn-dark mt-3" v-on:click="toggleFullScreen">Full screen</button>
            <canvas id="saveCanvas" width="128" height="128" style="display: none"></canvas>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../../../dist/bundle.js"></script>
</body>

</html>